<div class="container" id="contactform">
	<h1>Kontakt oss!</h1>
	<div class="row">
		<div class="col-sm-8 col-md-6">
			{{#if enquirySubmitted}}
			<h3>Takk for at du melder din interesse!.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Navn</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Epost</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<!-- Husk å endre PHONE i Js!! -->
				<div class="form-group">
					<label>Studieretning</label>
					<input type="text" name="phone" placeholder="Studieretning på UiO" class="form-control" value="{{formData.phone}}">
				</div>

				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Beskrivelse av idé</label>
					<textarea name="message" placeholder="Beskriv din idé!" rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<! -- legge til var i JS!! -->
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Veiledererfaring</label>
					<textarea name="veileder" placeholder="Er det noen spesiell kompetanse du/dere ønsker at veileder har?" rows="4" class="form-control"></textarea>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send Inn</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>