{{!< default}}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Har du en idé?</h1>
            <p>Har du en idé og lurer på hva du skal gøre med den?</p>
            <hr>    
            <a data-toggle="collapse" href="#ideacontact" class="btn btn-primary btn-xl page-scroll">Meld den inn her!</a>
        </div>
    </div>
 </header>

<!-- fix as partial? -->    
<section id="ideacontact" class="bg-dark collapse">

    <div class="container" id="cross">
        <i class="fa fa-1x fa-times text-primary sr-icons" data-toggle="collapse" href="#idea"></i>
    </div>

    <div class="container" id="contactform">
        <h1>Har du en idé?</h1>
        <div class="row">
            <div class="col-sm-8 col-md-6">
                {{#if ideaEnquirySubmitted}}
                <h3>Thanks for getting in touch.</h3>
                {{else}}
                <form method="post">
                    <input type="hidden" name="action" value="ideacontact">
                    <div class="form-group {{#if ideaValidationErrors.name}}has-error{{/if}}">
                        <label>Navn</label>
                        <input type="text" name="name.full"  class="form-control" value="{{ideaFormData.[name.full]}}">
                    </div>
                    <div class="form-group {{#if ideaValidationErrors.email}}has-error{{/if}}">
                        <label>Epost</label>
                        <input type="email" name="email" class="form-control" value="{{ideaFormData.email}}">
                    </div>
                    <div class="form-group {{#if ideaValidationErrors.student}}has-error{{/if}}">
                        <label>Studieretning på UiO</label>
                        <input type="text" name="student" placeholder="(optional)" class="form-control" value="{{ideaFormData.student}}">
                    </div>
                    <div class="form-group {{#if ideaValidationErrors.idea}}has-error{{/if}} ">
                        <label>Forklar din idé!</label>
                        <textarea name="idea" placeholder="Fortell oss om din idé!" rows="4" class="form-control">{{ideaFormData.idea}}</textarea>
                    </div>
                    <div class="form-group {{#if ideaValidationErrors.experience}}has-error{{/if}}">
                        <label>Erfaring på veileder</label>
                        <textarea name="experience" placeholder="Kompetanse/erfaring du ønsker på veileder" rows="4" class="form-control">{{ideaFormData.experience}}</textarea>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            {{/if}}
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">INSJ UiO</h2>
                <hr class="dark">
                <p class="text-faded">INSJ UiO er et kontaktpunkt og veiledningstjeneste for studenter som ønsker å videreutvikle idéen sin eller få en fot inn i startupmiljøet.</p>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Prosessen</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" id="process">
        <div class="row">
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o text-primary sr-icons"></i>
                    <h3>Din idé</h3>
                    <p class="text-muted">Du har en idé som du har lyst til å realisere</p>
                </div>
            </div>
            <div class="col-lg-1 col col-md-6" id="arrows">
                <i class="fa fa-2x fa-arrow-right text-primary sr-icons"></i>   
            </div>
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-envelope text-primary sr-icons"></i>
                    <h3>Kontakt oss</h3>
                    <p class="text-muted">Du kontakter oss for hjelp</p>
                </div>
            </div>
            <div class="col-lg-1 col col-md-6" id="arrows">
                <i class="fa fa-2x fa-arrow-right text-primary sr-icons"></i>   
            </div>
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                    <h3>Match</h3>
                    <p class="text-muted">Vi matcher deg med passende veileder</p>
                </div>
            </div>
            <div class="col-lg-1 col col-md-6" id="arrows">
                <i class="fa fa-2x fa-arrow-right text-primary sr-icons"></i>   
            </div>
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy text-primary sr-icons"></i>
                    <h3>Realiser</h3>
                    <p class="text-muted">Realiser din idé!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team">
    <div class="container">
        <div class="container-inner">
            <h1 id="homeHeading">Lyst til å bli med på team?</h1>        
            <p>Har du lyst til å bli en del av en startup?</p>
            <hr>
            <a data-toggle="collapse" href="#teamcontact" class="btn btn-primary btn-xl page-scroll">Gi beskjed her!</a>
        </div>
    </div>
</section>

<section id="teamcontact" class="bg-dark collapse">
    
    <div class="container" id="cross">
        <i class="fa fa-1x fa-times text-primary sr-icons" data-toggle="collapse" href="#teamcontact"></i>
    </div>

   <div class="container" id="contactform">
        <h1>Bli med på team!</h1>
        <div class="row">
            <div class="col-sm-8 col-md-6">
                {{#if teamEnquirySubmitted}}
                <h3>Thanks for getting in touch.</h3>
                {{else}}
                <form method="post">
                    <input type="hidden" name="action" value="teamcontact">
                    <div class="form-group {{#if teamValidationErrors.name}}has-error{{/if}}">
                        <label>Navn*</label>
                        <input type="text" name="name.full"  class="form-control" value="{{teamFormData.[name.full]}}">
                    </div>
                    <div class="form-group {{#if teamValidationErrors.email}}has-error{{/if}}">
                        <label>Epost*</label>
                        <input type="email" name="email" class="form-control" value="{{teamFormData.email}}">
                    </div>
                    <div class="form-group {{#if teamValidationErrors.student}}has-error{{/if}}">
                        <label>Studieretning på UiO*</label>
                        <input type="text" name="student" placeholder="(optional)" class="form-control" value="{{teamFormData.phone}}">
                    </div>
                    <div class="form-group {{#if teamValidationErrors.message}}has-error{{/if}} ">
                        <label>Fortell oss om deg!*</label>
                        <textarea name="message" placeholder="Fortell oss om deg selv!" rows="4" class="form-control">{{teamFormData.message}}</textarea>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>

                </form>
                {{/if}}
            </div>
        </div>
    </div>
</section>




